In [1]:
import pandas as pd
import numpy as np

In [2]:
df_balance = pd.read_csv('data/bureau_balance.csv')

In [3]:
df_balance

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
5              5715448              -5      C
6              5715448              -6      C
7              5715448              -7      C
8              5715448              -8      C
9              5715448              -9      0
10             5715448             -10      0
11             5715448             -11      X
12             5715448             -12      X
13             5715448             -13      X
14             5715448             -14      0
15             5715448             -15      0
16             5715448             -16      0
17             5715448             -17      0
18             5715448             -18      0
19             5715448             -19      0
20             5715448             -20      X
21             5715448             -21      X
22             5715448             -22      X
23             5715448             -23      X
24             5715448             -24      X
25             5715448             -25      X
26             5715448             -26      X
27             5715449               0      C
28             5715449              -1      C
29             5715449              -2      C
...                ...             ...    ...
27299895       5041332             -18      X
27299896       5041332             -19      X
27299897       5041332             -20      X
27299898       5041332             -21      X
27299899       5041332             -22      X
27299900       5041332             -23      X
27299901       5041336             -28      X
27299902       5041336             -29      X
27299903       5041336             -30      X
27299904       5041336             -31      X
27299905       5041336             -32      X
27299906       5041336             -33      X
27299907       5041336             -34      X
27299908       5041336             -35      X
27299909       5041336             -36      X
27299910       5041336             -37      X
27299911       5041336             -38      X
27299912       5041336             -39      X
27299913       5041336             -40      X
27299914       5041336             -41      X
27299915       5041336             -42      X
27299916       5041336             -43      X
27299917       5041336             -44      X
27299918       5041336             -45      X
27299919       5041336             -46      X
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [46]:
df_value_counts= df_balance.groupby(['SK_ID_BUREAU','STATUS'],sort=True)['STATUS'].count().to_frame()

In [47]:
df_value_counts.rename(columns={'STATUS':'COUNT'},inplace=True)

In [53]:
df_value_counts.reset_index(inplace=True)

In [54]:
df_value_counts.columns

Index([u'SK_ID_BUREAU', u'STATUS', u'COUNT'], dtype='object')

In [58]:
df_max_status_count = df_value_counts.sort_values('COUNT',ascending=False).drop_duplicates(['SK_ID_BUREAU'])

In [59]:
df_max_status_count.sort_values('SK_ID_BUREAU',ascending=True)

         SK_ID_BUREAU STATUS  COUNT
0             5001709      C     86
3             5001710      C     48
5             5001711      0      3
7             5001712      0     10
9             5001713      X     22
10            5001714      X     15
11            5001715      X     60
13            5001716      C     39
15            5001717      0     17
17            5001718      0     24
22            5001719      C     41
23            5001720      0     29
26            5001721      C     72
29            5001722      C     39
31            5001723      X     23
32            5001724      C     22
34            5001725      0      7
37            5001726      C     33
39            5001727      C     72
40            5001728      0      1
41            5001729      0      6
44            5001730      C     56
45            5001731      X     11
46            5001732      X     36
47            5001733      X     11
48            5001734      0      3
50            5001735      C     23
52            5001736      C     20
53            5001737      0     12
56            5001738      C     32
...               ...    ...    ...
1714158       6842859      C     30
1714159       6842860      0     29
1714161       6842861      0     23
1714166       6842862      X     37
1714168       6842863      C     44
1714171       6842864      X     19
1714172       6842865      0     19
1714173       6842866      0      5
1714174       6842867      0     15
1714176       6842868      C     52
1714178       6842869      C     25
1714180       6842870      C     30
1714182       6842871      0     12
1714185       6842872      C     78
1714188       6842873      C     52
1714191       6842874      C     80
1714194       6842875      C     52
1714197       6842876      X     25
1714198       6842877      0     40
1714201       6842878      C     23
1714204       6842879      C     20
1714208       6842880      C     36
1714210       6842881      0     20
1714212       6842882      0      4
1714215       6842883      C     35
1714218       6842884      C     20
1714220       6842885      0     12
1714223       6842886      C     25
1714225       6842887      C     31
1714228       6842888      C     52

[817395 rows x 3 columns]

In [67]:
df_max_status_count.drop(['COUNT'],axis=1,inplace=True)

In [68]:
df_max_status_count.to_csv('bureau_max_status_count.csv',index=False)