In [1]:
import pandas as pd
import numpy as np

In [2]:
df_bureau_bal_max = pd.read_csv('result_data/bureau_max_status_count.csv')

In [3]:
df_bureau = pd.read_csv('data/bureau.csv')

In [4]:
df_bureau

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.000,0.000,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.000,171342.000,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.500,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.000,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.500,0,2700000.000,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.000,0,180000.000,71017.380,108982.620,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.000,0,42103.800,42103.800,0.000,0.0,Consumer credit,-22,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.000,0,76878.450,0.000,0.000,0.0,Consumer credit,-1710,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.000,0,103007.700,0.000,0.000,0.0,Consumer credit,-840,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.000,0,4500.000,0.000,0.000,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.000,0,337500.000,0.000,0.000,0.0,Credit card,-690,NaN
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-706,NaN
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.000,0,7033500.000,NaN,NaN,0.0,Mortgage,-31,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.000,0,89910.000,76905.000,0.000,0.0,Consumer credit,-22,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.000,0.000,0.000,0.0,Credit card,-185,NaN
15,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.000,NaN,NaN,0.0,Consumer credit,-2601,NaN
16,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.000,NaN,NaN,0.0,Consumer credit,-984,NaN
17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.000,520920.000,NaN,0.0,Consumer credit,-4,NaN
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.000,8131.500,NaN,0.0,Credit card,-7,NaN
19,238881,5714488,Closed,currency 1,-444,0,-77.0,-77.0,0.000,0,107184.060,0.000,0.000,0.0,Consumer credit,-71,NaN
20,238881,5714489,Active,currency 1,-392,0,NaN,NaN,0.000,0,252000.000,23679.000,228320.100,0.0,Credit card,-22,NaN
21,222183,5714491,Active,currency 1,-784,0,1008.0,NaN,0.000,0,0.000,-411.615,411.615,0.0,Credit card,-694,NaN
22,222183,5714492,Active,currency 1,-774,0,625.0,NaN,NaN,0,127840.500,0.000,0.000,0.0,Credit card,-210,NaN
23,222183,5714493,Active,currency 1,-395,0,1431.0,NaN,NaN,0,1350000.000,1185493.500,0.000,0.0,Consumer credit,-24,NaN
24,222183,5714495,Closed,currency 1,-2744,0,-2561.0,-2559.0,310.500,0,18157.500,NaN,NaN,0.0,Consumer credit,-2559,NaN
25,222183,5714496,Closed,currency 1,-1103,0,-7.0,-343.0,20493.270,0,675000.000,0.000,0.000,0.0,Consumer credit,-343,NaN
26,222183,5714497,Active,currency 1,-315,0,1512.0,NaN,88821.000,0,3709552.500,NaN,NaN,0.0,Car loan,-32,NaN
27,426155,5714498,Closed,currency 1,-1331,0,-994.0,-1023.0,1350.000,0,39433.500,0.000,0.000,0.0,Consumer credit,-1023,NaN
28,426155,5714499,Closed,currency 1,-2534,0,-2352.0,-2347.0,NaN,0,38830.500,0.000,0.000,0.0,Consumer credit,-2345,NaN
29,426155,5714500,Closed,currency 1,-845,0,-480.0,-480.0,0.000,0,67500.000,0.000,0.000,0.0,Consumer credit,-480,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716398,312021,5057541,Closed,currency 1,-1529,0,-829.0,-829.0,NaN,0,209898.000,0.000,NaN,0.0,Consumer credit,-824,NaN
1716399,232638,5057553,Active,currency 1,-613,0,721.0,NaN,NaN,0,972000.000,886297.500,0.000,0.0,Credit card,-42,NaN
1716400,318662,5057561,Active,currency 1,-815,0,1011.0,NaN,NaN,0,147150.000,105358.500,0.000,0.0,Consumer credit,-70,NaN
1716401,145715,5057569,Closed,currency 1,-2333,0,-2027.0,-1984.0,173.070,0,35032.500,0.000,0.000,0.0,Consumer credit,-1984,NaN
1716402,352358,5057580,Closed,currency 1,-1714,0,-1530.0,-1564.0,NaN,0,35271.000,0.000,0.000,0.0,Consumer credit,-1532,NaN
1716403,361928,5057589,Active,currency 1,-765,0,1061.0,NaN,NaN,0,1431000.000,1092226.500,0.000,0.0,Consumer credit,-126,NaN
1716404,166279,5057599,Active,currency 1,-99,0,997.0,NaN,0.000,0,450000.000,432787.500,0.000,0.0,Consumer credit,-7,NaN
1716405,438109,5057605,Closed,currency 1,-2390,0,-2053.0,-2082.0,11317.590,0,112204.350,0.000,0.000,0.0,Consumer credit,-2082,NaN
1716406,335468,5057618,Closed,currency 1,-2517,0,-660.0,-2363.0,0.000,0,473940.000,0.000,0.000,0.0,Car loan,-2363,NaN
1716407,146896,5057629,Closed,currency 1,-1990,0,-1244.0,-1248.0,NaN,0,90000.000,NaN,NaN,0.0,Consumer credit,-1248,NaN
1716408,146896,5057632,Closed,currency 1,-434,0,-344.0,-344.0,NaN,0,234000.000,0.000,NaN,0.0,Credit card,-336,NaN
1716409,146896,5057636,Closed,currency 1,-1705,0,-582.0,-582.0,0.000,0,0.000,0.000,0.000,0.0,Credit card,-582,NaN
1716410,280228,5057642,Active,currency 1,-575,0,813.0,NaN,NaN,0,67500.000,0.000,0.000,0.0,Credit card,-46,NaN
1716411,232118,5057652,Closed,currency 1,-821,0,-425.0,-545.0,0.000,0,108765.720,0.000,0.000,0.0,Consumer credit,-545,NaN
1716412,288038,5057657,Active,currency 1,-541,0,7.0,NaN,NaN,0,225000.000,10971.000,0.000,0.0,Consumer credit,-11,NaN
1716413,288038,5057665,Closed,currency 1,-463,0,-36.0,-36.0,6863.715,0,110878.470,0.000,0.000,0.0,Consumer credit,-33,NaN
1716414,445222,5057676,Closed,currency 1,-1628,0,-1320.0,-1320.0,5693.625,0,57834.000,0.000,0.000,0.0,Consumer credit,-1320,NaN
1716415,317217,5057684,Closed,currency 1,-1970,0,-1577.0,-1577.0,NaN,0,93955.500,NaN,NaN,0.0,Consumer credit,-1577,NaN
1716416,433007,5057695,Closed,currency 1,-1100,0,-732.0,-731.0,NaN,0,98775.000,0.000,0.000,0.0,Consumer credit,-720,NaN
1716417,433007,5057703,Active,currency 1,-740,0,31128.0,NaN,NaN,0,67500.000,2466.000,NaN,0.0,Credit card,-433,NaN
1716418,433007,5057708,Closed,currency 1,-1389,0,-1299.0,-1299.0,0.000,0,334158.435,0.000,0.000,0.0,Consumer credit,-1299,NaN
1716419,352790,5057718,Closed,currency 1,-1808,0,-1596.0,-1625.0,8100.000,0,28248.840,0.000,0.000,0.0,Consumer credit,-1625,NaN
1716420,352790,5057725,Closed,currency 1,-99,0,-83.0,-98.0,NaN,0,27000.000,0.000,0.000,0.0,Consumer credit,-18,NaN
1716421,375755,5057734,Closed,currency 1,-1335,0,-1152.0,-1152.0,NaN,0,195408.000,0.000,NaN,0.0,Consumer credit,-1139,NaN
1716422,375755,5057742,Closed,currency 1,-2648,0,31129.0,-189.0,NaN,0,202500.000,0.000,NaN,0.0,Credit card,-109,NaN
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.000,0,11250.000,11250.000,0.000,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.500,0,38130.840,0.000,0.000,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.000,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.000,0.000,0.000,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.000,0.000,NaN,0.0,Microloan,-387,NaN

In [5]:
df_bureau.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
SK_ID_CURR                int64
SK_ID_BUREAU              int64
CREDIT_ACTIVE             object
CREDIT_CURRENCY           object
DAYS_CREDIT               int64
CREDIT_DAY_OVERDUE        int64
DAYS_CREDIT_ENDDATE       float64
DAYS_ENDDATE_FACT         float64
AMT_CREDIT_MAX_OVERDUE    float64
CNT_CREDIT_PROLONG        int64
AMT_CREDIT_SUM            float64
AMT_CREDIT_SUM_DEBT       float64
AMT_CREDIT_SUM_LIMIT      float64
AMT_CREDIT_SUM_OVERDUE    float64
CREDIT_TYPE               object
DAYS_CREDIT_UPDATE        int64
AMT_ANNUITY               float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

In [6]:
df_bureau_bal_max.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817395 entries, 0 to 817394
Data columns (total 2 columns):
SK_ID_BUREAU    817395 non-null int64
STATUS          817395 non-null object
dtypes: int64(1), object(1)
memory usage: 12.5+ MB

In [7]:
df_bureau_bal_max.head()

   SK_ID_BUREAU STATUS
0       5642348      X
1       6031052      C
2       6031110      C
3       6547223      C
4       6766823      X

In [8]:
df_aggregate = pd.merge(df_bureau,df_bureau_bal_max,on='SK_ID_BUREAU')

In [9]:
df_aggregate.head(10)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,STATUS
0,380361,5715448,Active,currency 1,-820,0,31069.0,NaN,NaN,0,67500.0,0.0,67500.0,0.0,Credit card,-183,0.0,X
1,380361,5715449,Active,currency 1,-357,0,1119.0,NaN,NaN,0,45000.0,0.0,45000.0,0.0,Credit card,-130,2691.0,C
2,380361,5715451,Closed,currency 1,-917,0,-187.0,-759.0,NaN,0,74439.0,0.0,0.0,0.0,Consumer credit,-748,0.0,0
3,380361,5715452,Closed,currency 1,-993,0,31039.0,-831.0,NaN,0,315000.0,0.0,0.0,0.0,Credit card,-818,0.0,C
4,380361,5715453,Closed,currency 1,-1146,0,681.0,-780.0,NaN,0,2025000.0,0.0,0.0,0.0,Consumer credit,-769,0.0,C
5,380361,5715454,Closed,currency 1,-1622,0,-1074.0,-1073.0,NaN,0,540000.0,0.0,0.0,0.0,Consumer credit,-1006,0.0,C
6,380361,5715455,Closed,currency 1,-2631,0,-804.0,-1096.0,NaN,0,2205000.0,0.0,0.0,0.0,Car loan,-944,NaN,X
7,380361,5715456,Closed,currency 1,-1449,0,-1084.0,-1267.0,NaN,0,60480.0,0.0,0.0,0.0,Consumer credit,-1259,NaN,X
8,380361,5715457,Active,currency 1,-222,0,874.0,NaN,NaN,0,202500.0,31594.5,0.0,0.0,Credit card,-18,0.0,X
9,380361,5715458,Closed,currency 1,-749,0,-111.0,-110.0,NaN,0,1267843.5,0.0,NaN,0.0,Consumer credit,-110,0.0,X

In [10]:
df_aggregate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 774354 entries, 0 to 774353
Data columns (total 18 columns):
SK_ID_CURR                774354 non-null int64
SK_ID_BUREAU              774354 non-null int64
CREDIT_ACTIVE             774354 non-null object
CREDIT_CURRENCY           774354 non-null object
DAYS_CREDIT               774354 non-null int64
CREDIT_DAY_OVERDUE        774354 non-null int64
DAYS_CREDIT_ENDDATE       723869 non-null float64
DAYS_ENDDATE_FACT         490889 non-null float64
AMT_CREDIT_MAX_OVERDUE    234704 non-null float64
CNT_CREDIT_PROLONG        774354 non-null int64
AMT_CREDIT_SUM            774349 non-null float64
AMT_CREDIT_SUM_DEBT       662000 non-null float64
AMT_CREDIT_SUM_LIMIT      477791 non-null float64
AMT_CREDIT_SUM_OVERDUE    774354 non-null float64
CREDIT_TYPE               774354 non-null object
DAYS_CREDIT_UPDATE        774354 non-null int64
AMT_ANNUITY               489136 non-null float64
STATUS                    774354 non-null object
dtypes: float64(8), int64(6), object(4)
memory usage: 112.2+ MB

In [11]:
df_aggregate.iloc[6,17]

'X'

In [30]:
df_groupby_aggregate = df_aggregate.groupby('SK_ID_CURR')['STATUS'].max()

In [ ]:
df[df_aggregate['SK_ID_CURR']]

In [33]:
df_aggregate[df_aggregate['SK_ID_CURR']==100013]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,STATUS
125580,100013,5922083,Closed,currency 1,-2005,0,-909.0,-1334.0,19305.0,0,688500.00,NaN,NaN,0.0,Car loan,-1334,NaN,C
614937,100013,5922077,Closed,currency 1,-1210,0,-1089.0,-1118.0,NaN,0,26490.06,0.0,NaN,0.0,Consumer credit,-4,NaN,X
614938,100013,5922081,Closed,currency 1,-2070,0,-1707.0,-1218.0,NaN,0,95040.00,NaN,NaN,0.0,Consumer credit,-1215,0.0,C
614939,100013,5922082,Closed,currency 1,-1665,0,-567.0,-549.0,NaN,0,1262250.00,NaN,NaN,0.0,Car loan,-549,0.0,X

In [31]:
df_groupby_aggregate

SK_ID_CURR
100001    X
100002    X
100005    X
100010    C
100013    X
100019    X
100028    X
100032    X
100033    X
100037    C
100042    X
100043    X
100048    0
100050    X
100054    C
100057    X
100059    X
100060    X
100061    C
100062    X
100063    X
100064    X
100065    X
100066    X
100067    X
100069    X
100072    X
100074    C
100076    1
100078    C
         ..
456192    X
456193    X
456194    X
456201    X
456202    X
456208    C
456209    X
456213    X
456215    X
456217    X
456218    X
456219    X
456221    X
456223    X
456224    X
456225    X
456226    X
456230    X
456231    X
456233    0
456234    X
456235    C
456238    X
456242    0
456244    X
456247    X
456250    X
456253    X
456254    C
456255    X
Name: STATUS, Length: 134542, dtype: object

In [24]:
df_bureau[df_bureau['SK_ID_CURR']==100003]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
1024666,100003,5885877,Closed,currency 1,-2586,0,-2434.0,-2131.0,0.0,0,22248.0,0.0,0.0,0.0,Consumer credit,-2131,NaN
1024667,100003,5885878,Closed,currency 1,-1636,0,-540.0,-540.0,0.0,0,112500.0,0.0,0.0,0.0,Credit card,-540,NaN
1024668,100003,5885879,Closed,currency 1,-775,0,-420.0,-621.0,0.0,0,72652.5,0.0,0.0,0.0,Consumer credit,-550,NaN
1024669,100003,5885880,Active,currency 1,-606,0,1216.0,NaN,0.0,0,810000.0,0.0,810000.0,0.0,Credit card,-43,NaN

In [29]:
df_bureau_bal_max[df_bureau_bal_max['SK_ID_BUREAU']==5885880]

Empty DataFrame
Columns: [SK_ID_BUREAU, STATUS]
Index: []